*{
    
    margin: 0px;
    padding: 0px;
}


body{
     margin:0px;
    padding:0px;
    box-sizing:border-box;
    
    }
.main{
    width:100%;
}
nav{
   
    padding:0px 0px;
    width: 100%;
    background-color: rgb(230, 227, 227);
    height: 50px;
    display: flex;
    box-shadow: 0 2px 3px grey;
    justify-content: space-between;
}



a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: 'Nunito',sans-serif;
    transition: 0.3s all ease;

}
ul li{
    float: left;
    padding: 10px 20px;
    list-style: none;
}
ul li a:hover{
    color:red ;

}
.header{
    background-image:url("pizza-.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.Lunch{
  
    text-align: center; 
     margin: auto;
     margin-top:10% ;
     
    font-family: cursive;
    font-size: larger;
    font-weight: 300;
    font-style: bold;
}

   table{
    margin: auto;
    margin-top: 3%;
    text-align: center;
    font-family: cursive;
    font-size: larger;
    font-weight: 300;
    font-style: bold;
    width:500px;
    height:100px;

   }
   td:hover{
         color:red;
      }
 tr{
   
       text-align: center;
       cursor: pointer;
   } 
h1 {
    margin-top: 2%;
    text-align: center;
    font-family: cursive;
}

p{
    text-align: center;
    font-family: cursive;
  font-size: large;
}
.banner{
font-family: cursive; 

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    background-image:url("reservation.jpg");
}
.card-container{
    font-size:25px;
    display: grid;
    grid-template-columns: 120px 120px;
}
form select, form input{
    display: block;
    font-family: cursive;
    width: 100%;
    margin: 15px 12px;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid #eee;
    font-weight: 300;

}
form input[type=submit]{
    background: #38886c;
    border-radius: 4px;
    cursor:pointer;
}
.wrapper{
    
  
    background-position: center;
   
    margin-top:10%;
    margin-left: 25%;
    width:50%;
    padding:0 20px;
 
    font-family: cursive;

}

.contact-form{
    max-width: 550px;
    margin: 0 auto;
    background:#38886c;
    padding: 30px;
    border-radius: 5px;
    display: flex;
}
.input-fields, .msg{
    width: 48%;
}
.input-field .input, .msg textarea{
    margin: 10px 0;
    background:transparent;
    border: 0;
    border-bottom: 2px solid #c5ecfd;
    padding: 10px;
    
    width: 100%;
}
.msg textarea{
    height: 100px;
}
::-webkit-input-placeholder{
    color:#010c11 ;
    border-bottom: 2px solid #c5ecfd;
}
.btn{
    background: #ffffff;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: black;
    cursor:pointer ;
}
@media screen and (max_width: 600px){
    .contact_form{
        flex-direction: column;
    }
    .msg textarea{
        height:80px;
    }
    .input-field, .msg{
        width: 100%;
    }
}
footer{
    margin-top: 29%;
    margin-left: 45%;
  
}